.git
.gitignore
.cursor
.vscode
.idea

.venv
venv
__pycache__
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache
.ruff_cache
.python-version

.env
.env.*
!.env.example

.dockerignore

qdrant_data

tests
evaluation/eval_results.csv

Thumbs.db
.DS_Store

*.log
logs
